@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
:root{
    --gold1: #f4bd76;
    --gold2: #f6cd8f;
    --gray: #ffffff80;
    --gray2:#f7d9d990;
    --brack1: #1a1b1f;
    --black2: #30553B;
    --shadow: 0 8px 8px;
    --color_shadow: #00000033;   


}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: 100px 0;
    height:auto;
}
.container_modifier{
    width: 60%;
}
.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(180deg, #30353b 0%,#1a1b1f 100%);
}
.nav_hero{
    color: #fff;
    height: 70px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.nav_container{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: inherit;
    padding: 0;
}
.logo_name{
    font-size:24px;
}
.link{
    display: inline-block;
    color: inherit;
    text-decoration: none;
    font-weight: 300;
    padding:10px 10px; 
}
.link_active{
    color: var(--gold1);
    font-weight: 700;
}
.point{
    color: var(--gold1);
}
.hero_main{
    height: calc(100vh - 70%);
    display: flex;
    align-items: center;
    padding:0;
}
.mockup{
    object-fit: cover;
    height: calc(60vh);
}
.title{
    font-size: 56px;
    font-weight:300;
    color:#ffff;
}
.title_active{
    color: var(--gold1);
    font-weight:700;
}
.copy{
    font-size:24px;
    color: var(--gray);
    text-shadow: var(--shadow) var(--color_shadow);
    margin:15px o;
}
.copy_active{
    font-weight: 700;

}
.cta{
    padding: 20px 30px;
    display: inline-block;
    background: linear-gradient(#f7ce90 0%, #f48d76 100%); 
    text-decoration: none;
    color: var(--black2);
    font-weight: 700;
    font-size: 18px;
    box-shadow: var(--shadow) var(--color_shadow);
    border-radius:6px;   
}
/*service */
.service{
    background: #fafafa;
}
.subtitle{
    font-size:  42px;
}
.subtitle_modifier{ 
    text-align: center;
    margin-bottom: 16px;

}
.copy_section{
    color: var(--black2);
    font-size: 22px;
    line-height:  32px;
    margin-bottom:60px;
}
.copy_section_modifier{
    text-align: center;
    margin-bottom: 32px;
}
.container_cards{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.card{
    width: 30%;
    padding:30px;
    overflow: hidden;
    background:linear-gradient(180deg, #30353b 0%,#1a1b1f 100%);
    border-radius:10px;
    position: relative;
    text-align: right;
    margin-bottom: 60px;
    box-shadow: 0 0 6px var(--color_shadow);
}